Creating a serivce principal for Terraform deployments/.terraform/providers
Creating a serivce principal for Terraform deployments/.terraform.*

Creating a serivce principal for Terraform deployments/terraform.tfstate
